@import url('https://fonts.googleapis.com/css?family=Patua+One');

body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: 'Patua One', cursive;
}

#canvas {
  cursor: pointer;
}

#screenBlocker {
  opacity: 0.6;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
}

#container-login{
  width: 400px;
  height: 500px;
  z-index: 12;
  margin-left: calc(50% - 200px);
  margin-top: 25px;
  background-color: #DCE775;
  z-index: 15;
  position: absolute;
  border-radius: 12px;
  display: none;
}
#login-headline {
  font-size: 34px;
  width: 300px;
  margin-left: calc(50% - 150px);
  text-align: center;
  margin-top: 30px;
}
#username-headline {
  margin-top: 10px;
}
#password-headline {
  margin-top: 10px;
}
#login-button {
  margin-top: 15px;
}
#guest-button {
  margin-top: 75px;
}

.button-style {
  width: 130px;
  height: 35px;
  background-color: #4DB6AC;
  border-radius: 5px;
  margin-left: calc(50% - 65px);
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  cursor: pointer;
}
.button-style:hover {
  background-color: #2196F3;
}
.input-style {
  width: 250px;
  height: 30px;
  font-size: 24px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin-left: calc(50% - 125px);
}
.headline-style {
  font-size: 20px;
  padding-left: calc(50% - 125px);
}

.toast {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 15px;
    margin: 20px 20px 20px 20px;
    height: 30px;
    color: white;
    background-color: red;
    opacity: 0.8;
    border-radius: 8px;
    top: 0;
    right: 0;
    z-index: 15;
    position: fixed;
    display: none;
}

#navbar {
    width: 100%;
    height: 60px;
    background-color: #FE9000;
}
#navbar-headline {
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    height: 53px;
    font-size: 34px;
    float: left;
}
#navbar-logout {
    height: 45px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 20px;
    float: right;
}
#navbar-logout:hover {
    background-color: gray;
    cursor: pointer;
}
.navbar-item-header {
    padding-top: 5px;
    font-size: 12px;
}
.navbar-item-content {
    font-size: 22px;
}
.navbar-item {
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
    float: right;
}